<!-- Notificaciones Agregar -->
<br>
<div id="error-notification" class="notification is-danger is-light" style="display: none;">
    Error al agregar <strong id="text-error"></strong>, por favor vuelve a intentarlo.    
</div>   
<div id="success-notification" class="notification is-success is-light" style="display: none;">
    <strong id="text-success"></strong> agregado correctamente.    
</div>  
<!-- Notificaciones Eliminar -->
<div id="delete-error-notification" class="notification is-danger is-light" style="display: none;">
    Error al eliminar <strong id="delete-text-error"></strong>, por favor vuelve a intentarlo.    
</div>   
<div id="delete-success-notification" class="notification is-success is-light" style="display: none;">
    <strong id="delete-text-success"></strong> eliminada correctamente.    
</div>  