<header>
    <nav class="navbar is-light"  role="navigation" aria-label="main navigation">
        <div class="navbar-brand" >
          <a class="navbar-item" href="#">
            <img src="content/imgs/Logo.png" >
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">          
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Horario
                </a>
        
                <div class="navbar-dropdown">
                  <a class="navbar-item">
                      Generar
                  </a>
                  <a class="navbar-item">
                      Mostrar
                  </a>
                </div>
              </div>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Datos
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                    Profesor
                </a>
                <a class="navbar-item">
                    Curso
                </a>
                <a class="navbar-item">
                    Carrera
                </a>
                <a class="navbar-item">
                    Salón
                </a>
                <a class="navbar-item">
                    Asignación
                </a>
                <a class="navbar-item">
                    Área
                </a>
              </div>
            </div>
    
            <a class="navbar-item">
                Métricas
            </a>
            <a class="navbar-item">
                Acerca de...
            </a>
          </div>
        </div>
    </nav>
</header>
