<header>
    <nav class="navbar is-light"  role="navigation" aria-label="main navigation">
        <div class="navbar-brand" >
          <a class="navbar-item" href="/HorarioEducativo-Frontend/">
            <img src="/HorarioEducativo-Frontend/content/imgs/Logo.png" >
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">          
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Horario
                </a>
        
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="/HorarioEducativo-Frontend/views/schedule/generate_schedule.html">
                      Generar
                  </a>
                </div>
              </div>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Datos
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item" href="/HorarioEducativo-Frontend/views/assignation/home.html">
                  Asignación
                </a>  
                <a class="navbar-item" href="/HorarioEducativo-Frontend/views/carrer/home.html">
                  Carrera
                </a>
                <a class="navbar-item" href="/HorarioEducativo-Frontend/views/course/home.html">
                  Curso
                </a>
                <a class="navbar-item" href="/HorarioEducativo-Frontend/views/teacher/home.html">
                  Profesor
                </a>
                <a class="navbar-item" href="/HorarioEducativo-Frontend/views/classroom/home.html">
                    Salón
                </a>
              </div>
            </div>
    
            <a class="navbar-item" href="/HorarioEducativo-Frontend/views/metrics/home.html">
                Métricas
            </a>
          </div>
        </div>
    </nav>
</header>
