<section class="section ">
    <div class="container">
        <br>
        <p>
            <center>
                <img src="/HorarioEducativo-Frontend/content/imgs/Logo.png" style="width: 25% !important;">
            </center>
        </p>
        <br><br>
        <h1 class="title">
          HorarioEducativo++
        </h1>
        <p class="subtitle">
            Automatiza y optimiza la creación de horarios de clases, con el fin de reducir el tiempo invertido, optimizar el uso de recursos y minimizar conflictos en la asignación de horarios.
        </p>
    </div>
    <br><br>
    <hr class="navbar-divider">
    <br><br>
    <div class="level" id="inf_schedule"></div>
</section>