<div class="level-item has-text-centered">
    <div>
        <p class="heading">Asignaciones</p>
        <p class="title">3,456</p>
    </div>
</div>
<div class="level-item has-text-centered">
    <div>
        <p class="heading">Cursos</p>
        <p class="title">123</p>
    </div>
</div>
<div class="level-item has-text-centered">
    <div>
        <p class="heading">Profesores</p>
        <p class="title">456K</p>
    </div>
</div>
<div class="level-item has-text-centered">
    <div>
        <p class="heading">Salones</p>
        <p class="title">789</p>
    </div>
</div>
<div class="level-item has-text-centered">
    <div>
        <p class="heading">Carreras</p>
        <p class="title">789</p>
    </div>
</div>