<div class="level-item has-text-centered">
    <div>
        <p class="heading">Asignaciones</p>
        <p id="informative-assigment-data" class="title"></p>
    </div>
</div>
<div class="level-item has-text-centered">
    <div>
        <p class="heading">Carreras</p>
        <p id="informative-carrer-data" class="title"></p>
    </div>
</div>
<div class="level-item has-text-centered">
    <div>
        <p class="heading">Cursos</p>
        <p id="informative-course-data" class="title"></p>
    </div>
</div>
<div class="level-item has-text-centered">
    <div>
        <p class="heading">Profesores</p>
        <p id="informative-teacher-data" class="title"></p>
    </div>
</div>
<div class="level-item has-text-centered">
    <div>
        <p class="heading">Salones</p>
        <p id="informative-classroom-data" class="title"></p>
    </div>
</div>