<center>
    <p class="title">No Asignados</p>
</center>
<br>  
<div style="display: grid; place-items: center;" class="table-container">
    <table class="table is-striped is-bordered is-hoverable">
        <!-- Encabezado -->
        <thead>
            <tr id="t-head-unassigned">
                <th>Código</th>
                <th>Curso</th>
                <th>Carrera</th>
                <th>Asignados</th>
                <th>Sección</th>
                <th>Año</th>
                <th>Motivo</th>
            </tr>
        </thead>
        <tbody id="t-body-unassigned">
        </tbody>
    </table>
</div>