<!DOCTYPE html>
<html lang="es">
<head id="head">
    <script src="/HorarioEducativo-Frontend/content/scripts/load-content.js"></script>
</head>
<body id="body">
    <main id="container">
        <div style="display: grid; place-items: center;">
            <div class="column" style="width: 50% !important;">
                <div class="panel">
                    <!-- Titulo -->
                    <center>
                        <p class="panel-heading">
                            Asignación
                        </p>
                    </center>
                </div>
            </div>
             <!-- Formulario -->
            <form class="box" style="width: 50% !important;">

                <div class="columns">
                    <!-- Curso -->    
                    <div class="column">
                        <label class="label">Curso*:</label>
                        <div class="select is-rounded">
                            <select id="select-course" required>
                              <option selected value="first">Primero</option>
                              <option value="second">Segundo</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <!-- Asignados -->    
                    <div class="column">
                        <label class="label">Asignados*:</label>
                        <div class="control">
                            <input id="asignados" class="input" type="number" min="1" required>
                        </div>
                    </div>

                    <!-- Año -->    
                    <div class="column">
                        <label class="label">Año*:</label>
                        <div class="control">
                            <input id="asignados" class="input" type="number" min="2000" max="2099" step="1" required>
                        </div>
                    </div>

                    <!-- Semestre -->    
                    <div class="column">
                        <label class="label">Semestre*:</label>
                        <div class="select is-rounded">
                            <select id="select-semester" required>
                              <option selected value="first">Primero</option>
                              <option value="second">Segundo</option>
                            </select>
                        </div>
                    </div>
                </div>
              
                <!-- Botones -->
                <div class="field is-grouped is-grouped-centered">
                    <p class="control">
                      <a class="button is-primary" onclick="sendToGenerateSchedule();">
                        Guardar
                      </a>
                    </p>
                    <p class="control">
                      <a class="button is-light" href="/HorarioEducativo-Frontend/views/assignation/home.html">
                        Cancelar
                      </a>
                    </p>
                </div>
            </form>
        </div>
    </main>
    <script>
        include("head", "/HorarioEducativo-Frontend/views/config/head.html")
            .then(() => {
                return include("body", "/HorarioEducativo-Frontend/views/config/navbar.html");
            })
            .catch(error => {
                console.error('Error en una de las inclusiones:', error);
            });

        function sendToGenerateSchedule() {
            
            window.location.href = "/HorarioEducativo-Frontend/views/schedule/schedule.html"
        }
    </script>
    </body>
</html>